only considering seasons 1969-2019, since it will give us ~3000 positively-labeled data points (32 players*2 teams * 50 years)

only position players (no pitchers or catchers)

only players with >50 games (batting), no minimum games for fielding bc pinch hitters and DHs

merge fp with fb first, then others (inner merges)

G in the final DF is fielding games

In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
#read the files into DFs from csv
people = pd.read_csv('People.csv')
batting = pd.read_csv('Batting.csv')
fielding = pd.read_csv('Fielding.csv')
allstars = pd.read_csv('AllstarFull.csv')

In [6]:
def format_people(people):
    #keep only the important columns--no names cause we won't want them in the feature space
    people = people[['playerID', 'birthYear', 'birthMonth', 'birthDay', 'debut']]
    #drop rows with NA
    people = people.dropna()
    #cast dates to ints, then strings, then concat and cast to datetime
    people.birthYear = people.birthYear.astype(int)
    people.birthDay = people.birthDay.astype(int)
    people.birthMonth = people.birthMonth.astype(int)
    people.birthYear = people.birthYear.astype(str)
    people.birthDay = people.birthDay.astype(str)
    people.birthMonth = people.birthMonth.astype(str)
    people['bday'] = people['birthYear'] + '-' + people['birthMonth'] + '-' + people['birthDay']
    people.bday = pd.to_datetime(people.bday, infer_datetime_format=True)
    #cast debut to datetime also
    people.debut = pd.to_datetime(people.debut, infer_datetime_format=True)
    #get rid of the 3 date cols that we combined
    people = people[['playerID', 'bday', 'debut']]
    return people

def format_batting(batting):
    #get only the data for 1968 and on
    batting = batting[batting.yearID >1968]
    #drop irrelevant cols-don't need to include teamID and lgID because teams and leagues should have equal representation,
    #so it shouldn't have any effect on whether or not a player makes it.  The others aren't expected to have predictive power.
    batting = batting.drop(['teamID', 'lgID', 'CS', 'HBP', 'SH', 'SF', 'GIDP'], axis=1)
    #drop nas
    batting = batting.dropna()
    #make a lambda function to sum the columns in the following line
    add = lambda x: x.astype(int).sum()
    #group by player number and yearID to sum stats for players who have >1 stint in a year
    batting = batting.groupby(['playerID', 'yearID'])['G', 'AB', 'R', 'H', 'HR', 'RBI', 'SB', 'BB', 'SO', 'IBB'].apply(add)
    #collapse multi-index
    batting = batting.reset_index()
    #only consider players with more than 50 games in a year
    batting = batting[batting['G'] > 50]
    return batting

def format_fielding(fielding):
    #get only the data for 1968 and on
    fielding = fielding[fielding.yearID >1968]
    #drop irrelevant cols-drop team, league, stint, GS, InnOuts bc not relevant/multicollinear
    #drop the rest bc they pertain to pitchers and catchers
    fielding = fielding.drop(['teamID', 'stint', 'lgID', 'GS', 'InnOuts', 'PB', 'WP', 'CS', 'ZR', 'G', 'SB'], axis=1)
    #drop pitchers and catchers
    fielding = fielding[fielding['POS']!='C']
    fielding = fielding[fielding['POS']!='P']
    #drop nas
    fielding = fielding.dropna()
    #make lambda
    add = lambda x:x.astype(int).sum()
    #group by playerID and year, then sum other cols
    fielding = fielding.groupby(['playerID', 'yearID'])[ 'PO', 'A', 'E', 'DP'].apply(add)
    
    fielding = fielding.reset_index()
    return fielding


def format_allstars(allstars):
    #get only 1968 and on
    allstars = allstars[allstars.yearID>1968]
    #drop irrelevant columns
    allstars = allstars.drop(['teamID', 'lgID', 'GP', 'startingPos', 'gameID', 'gameNum'], axis=1)
    allstars['star'] = 1
    return allstars

In [7]:
fp = format_people(people)
fb = format_batting(batting)
ff = format_fielding(fielding)
fa = format_allstars(allstars)

In [41]:
#merge the DFs
pb = fp.merge(fb, on='playerID', how='inner')
pbf = pb.merge(ff, on=['playerID', 'yearID'], how='inner')
df = pbf.merge(fa, on=['playerID', 'yearID'], how='left')
#fill in the NaNs in df.star and cast to int
df['star'] = df['star'].fillna(0.0)
df['star'] = df['star'].astype(int)
df = df.drop(['playerID', 'yearID', 'bday', 'debut'], axis=1)

#split into X and y (features and labels)
X = df.drop(['star'], axis=1)

#split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=88)

#create the classifier
model = GaussianNB()

#train the model
model.fit(X_train, y_train)

#predict output
y_hat = model.predict(X_test)

#evaluate
print('Accuracy: ', metrics.accuracy_score(y_test, y_hat))

Accuracy:  0.7880833577927796

In [38]:
df.head(50)

      G   AB    R    H  HR  RBI  SB   BB   SO  IBB    PO    A   E   DP  star
0   147  547  100  164  44   97   9   87   47   19   299   13   5    6     1
1   150  516  103  154  38  118   9   74   63   15   319   10   7    7     1
2   139  495   95  162  47  118   1   71   58   21   733   40   5   56     1
3   129  449   75  119  34   77   4   92   55   15   996   70  17   79     1
4   120  392   84  118  40   96   1   68   51   13   206    5   5    0     1
5   112  340   47   91  20   69   1   39   29    6   142    3   2    0     1
6   137  465   45  109  12   60   0   70   51    3     2    0   0    0     1
7    85  271   22   62  10   35   0   35   38    1     1    0   0    0     0
8    89  244   33   68  12   41   3    9   28    1   132    0   4    0     0
9    80  215   31   59   3   29   2   21   38    1   101    2   2    0     0
10  101  345   41   86   9   33   3   16   98    1   162  260  15   61     0
11  120  420   60  107  17   60   4   36  110    4   149  290  19   66     0
12  109  320   37   81   8   33   3   22   99    1   123  205  12   43     0
13   94  252   35   69   6   30   3   14   68    3   126  136   8   27     0
14   77  194   26   51   5   24   2   12   53    0    78   94  12   21     0
15   96  286   41   78   8   41   3   16   69    0   188  151   4   42     0
16   79  157   22   34   6   12   1   14   51    2    74  105   7   13     0
17  111  255   39   54   5   24   6   18   78    2   176    3   5    1     0
18   79  304   43   82   5   33   8   27   35    1   150  209   7   56     0
19  117  463   46  112   2   40  10   25   46    0   253  316  12   85     0
20   57  102   13   18   2   14   1    5   20    2    67    0   0    0     0
21   91  184   17   45   1   15   2    9   28    1   108    1   1    0     0
22   94  216   27   42   3   14   1   11   43    4   158    4   0    1     0
23   97  208   21   58   1   16   1   12   35    2   155    2   0    0     0
24   59  188   22   47   3   26   7   21   48    0    84    4   2    1     0
25  151  497   68  155  17   74  19   84  133   14   272   17   8    0     0
26  152  546  118  183  20   93  27  109  113    8   260    8   3    0     0
27  154  576  103  182  25   79  28  100  116    9   337   13   4    2     0
28  162  588  118  170  31  110  36  106  137   11   308   11   8    4     0
29  157  572  102  176  20   85  31  104  117    9   282   10   5    2     0
30  158  577   99  173  20  101  22  109  126   13   304    6   6    0     0
31  159  574  118  173  30  105  40  127  116   10   311   13   6    4     1
32  162  588  104  168  24  102  31  117  134   15   266    7   4    0     1
33  156  548   98  163  15  107  30  124  138    6   292   10   3    0     0
34  158  605  123  171  16  101  25   84  115    0   313    6   4    1     0
35  156  609  100  180  20  100  22   73  109    2   270   10   2    3     0
36  152  563   96  165  15  103  30   94  113    7   269   10   8    4     0
37  154  573   88  146  20   78  24   87  132    3   242    7   6    2     0
38  142  502   54  127   8   60  21   78  113    5    29    2   1    0     0
39  100  219   29   53   3   24   6   37   56    3    70    2   1    1     0
40   78  133   12   33   1   14   1   20   21    0    37    0   2    0     0
41  145  556   80  176  36  107   3   51  131   15   970   69   6  105     1
42  154  613   88  178  30  101   0   39  140   11   952   60  11  100     0
43  159  624   67  183  25  100   0   47  125    7  1243   84  10  131     0
44  156  621   95  189  33  102   3   35  119    6  1135   78   8  130     0
45  128  499   68  132  22   78   2   37  109    7   903   73   8   81     1
46   59  166   19   45   2   17   0    7   21    1    40  123   5   19     0
47   81  193   16   45   1   13   2    4   47    0    43   84  10   16     0
48   53  138   21   37   2   14   0    6   33    1    47   66   3   15     0
49   90  333   39   91   6   36   6   40   79    1   152  225   6   49     0

In [ ]:
pbf.head()
print(pbf.shape[0])
print(fa.shape[0])

In [5]:
fa.head()

       playerID  yearID  star
2066  stottme01    1969     1
2067  freehbi01    1969     1
2068  powelbo01    1969     1
2069  carewro01    1969     1
2070  bandosa01    1969     1

In [ ]:
pb.head()

In [ ]:
fp.head()

In [ ]:
fb.head()

In [ ]:
ff.head()